/* =========================== MEDIA QUERIES =========================== */

/* For Extra Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* HEADER - logo */
    .navbar-brand { font-size: 14pt; }
    /* HEADER - search field (larger screens) */
    #searchLarge { display: none; }
    /* HEADER - search field (smaller screens) */
    #searchSmall {
        margin: 3vw auto;
        width: 85vw;
    }
    /* HEADER - search icon */
    .fa-magnifying-glass { font-size: 14pt; }
    /* HEADER - language options, login button, user menu button */
    .navbar-nav {
        flex-direction: row;
        justify-content: space-around;
    }

    /* HEADER - user menu button */
    .btn-user-menu > img {
        width: 20pt;
        padding: 5px 3px;
    }

    /* USER MENU - user white icon */
    .user-icon-white > img {
        width: 65pt;
        margin: 30px 40px;
    }
    /* USER MENU - edit profile button */
    .fa-pen-to-square {
        font-size: 17pt;
        margin: 5px 0;
    }
    /* USER MENU - menu options */
    #userMenu nav,
    #userMenu span { font-size: 14pt; }
    /* USER MENU - log out icon */
    .fa-arrow-right-from-bracket { font-size: 16pt; }

    /* EDIT PROFILE - user black icon */
    .user-icon-black > img {
        width: 65pt;
        margin: 30px 40px;
    }

    /* News cards */
    .news { margin-top: 6vw; }
    .card {
        width: 90vw;
        margin: 0 auto 6vw auto;
    }
    .card img { height: 35vh; }
    .card-title { font-size: 14pt; }
    .card-footer { font-size: 9pt; }

    /* ========================== INDEX page ========================== */

    /* BANNER */
    .carousel { display: none; }

    /* ========================== NEWS page ========================== */

    /* HEADLINE - text */
    .headline > h1 { font-size: 18pt; }

    /* ========================== REGISTER page ========================== */

    /* LEFT SIDE */
    #regLeft { display: none; }

    /* RIGHT SIDE */
    #regRight { width: 100%; }
    /* RIGHT SIDE - register screen */
    #create_acc { width: 85vw; }
    /* RGIHT SIDE - login screen */
    #login { width: 70vw; }
    /* RIGHT SIDE - form, fields, button */
    #regRight > form,
    #regRight input,
    #regRight .btn { font-size: 10pt; }
}

/* For Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* HEADER - navbar */
    .navbar-nav { padding: 0 12vw; }
    /* HEADER - logo */
    .navbar-brand { font-size: 18pt; }
    /* HEADER - search field */
    #searchLarge {
        width: 80vw;
        margin: 0 auto;
    }
    /* HEADER - search icon */
    .fa-magnifying-glass { font-size: 14pt; }

    /* HEADER - user menu button */
    .btn-user-menu > img {
        width: 20pt;
        padding: 5px 3px;
    }

    /* USER MENU - user white icon */
    .user-icon-white > img {
        width: 65pt;
        margin: 30px 40px;
    }
    /* USER MENU - edit profile button */
    .fa-pen-to-square {
        font-size: 17pt;
        margin: 5px 0;
    }
    /* USER MENU - menu options */
    #userMenu nav,
    #userMenu span { font-size: 14pt; }
    /* USER MENU - log out icon */
    .fa-arrow-right-from-bracket { font-size: 16pt; }

    /* EDIT PROFILE - user black icon */
    .user-icon-black > img {
        width: 65pt;
        margin: 30px 40px;
    }

    /* News cards */
    .news { margin-top: 4vw; }
    .card {
        width: 90vw;
        margin: 0 auto 6vw auto;
    }
    .card img { height: 45vh; }
    .card-title { font-size: 14pt; }
    .card-footer { font-size: 9.5pt; }

    /* ========================== REGISTER page ========================== */

    /* RIGHT SIDE */
    #regRight { width: 100%; }
    /* RIGHT SIDE - register screen */
    #create_acc { width: 60vw; }
    /* RIGHT SIDE - login screen */
    #login { width: 40vw; }
    /* RIGHT SIDE - form, fields, button */
    #regRight > form,
    #regRight input,
    #regRight .btn { font-size: 10.5pt; }
}

/* For Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* HEADER - logo */
    .navbar-brand { font-size: 14pt; }
    /* HEADER - search field */
    #searchLarge { width: 40vw; }
    #searchLarge input,
    /* HEADER - language options, login button */
    .nav-item > * { font-size: 9.5pt; }
    /* HEADER - search icon */
    .fa-magnifying-glass { font-size: 11pt; }

    /* HEADER - user menu button */
    .btn-user-menu > img {
        width: 17pt;
        padding: 5px 3px;
    }

    /* USER MENU - user white icon */
    .user-icon-white > img {
        width: 65pt;
        margin: 30px 40px;
    }
    /* USER MENU - edit profile button */
    .fa-pen-to-square {
        font-size: 17pt;
        margin: 5px 0;
    }
    /* USER MENU - menu options */
    #userMenu nav,
    #userMenu span { font-size: 14pt; }
    /* USER MENU - log out icon */
    .fa-arrow-right-from-bracket { font-size: 16pt; }

    /* EDIT PROFILE - user black icon */
    .user-icon-black > img {
        width: 65pt;
        margin: 30px 40px;
    }

    /* News cards */
    .news { width: 90vw; }
    .card { margin-bottom: 4vw; }
    .card img { height: 35vh; }
    .card-title { font-size: 14pt; }
    .card-footer { font-size: 10pt; }

    /* ========================== INDEX page ========================== */

    /* BANNER */
    .carousel-item { height: 35vh; }
    /* BANNER - text */
    .carousel-item h1 {
        font-size: 20pt;
        line-height: 6vh;
    }
    /* BANNER > CAROUSEL 1 - field */
    .carousel-1 input {
        width: 35vw;
        font-size: 10pt;
    }
    /* BANNER > CAROUSEL 1 - button */
    .carousel-1 button { font-size: 12pt; }
    /* BANNER > CAROUSEL 2 - text */
    .carousel-2 h1 { padding: 0 15vw; }

    /* Image cards width */
    .inews-md-w { width: 45.5vw; }
    .inews-md-h { height: 23vw; }

    /* ========================== MEWS page ========================== */

    .rnews-w { width: 80vw; }
    .rnews-h { height: 45vw; }
    
    /* ========================== REGISTER page ========================== */

    /* RIGHT SIDE */
    #regRight { width: 100%; }
    /* RIGHT SIDE - register screen */
    #create_acc { width: 55vw; }
    /* RIGHT SIDE - login screen */
    #login { width: 35vw; }
    /* RIGHT SIDE - form, fields, button */
    #regRight > form,
    #regRight input,
    #regRight .btn { font-size: 11pt; }
}

/* For Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* HEADER - logo */
    .navbar-brand { font-size: 18pt; }
    /* HEADER - search field */
    #searchLarge { width: 35vw; }
    #searchLarge > input,
    /* HEADER - language options, login button */
    .nav-item > * { font-size: 10pt; }
    /* HEADER - search icon */
    .fa-magnifying-glass { font-size: 12pt; }

    /* HEADER - user menu button */
    .btn-user-menu > img {
        width: 19pt;
        padding: 5px 4px;
    }

    /* USER MENU - user white icon */
    .user-icon-white > img {
        width: 60pt;
        margin: 30px 40px;
    }
    /* USER MENU - edit profile button */
    .fa-pen-to-square {
        font-size: 12pt;
        margin: 5px 0;
    }
    /* USER MENU - menu options */
    #userMenu nav,
    #userMenu span { font-size: 12pt; }
    /* USER MENU - log out icon */
    .fa-arrow-right-from-bracket { font-size: 13pt; }

    /* EDIT PROFILE - user black icon */
    .user-icon-black > img {
        width: 65pt;
        margin: 30px 40px;
    }

    /* News cards */
    .news { width: 90vw; }
    .card { margin-bottom: 3vw; }
    .card img { height: 18vh; }
    .card-title { font-size: 11pt; }
    .card-footer { font-size: 8.5pt; }

    /* ========================== INDEX page ========================== */

    /* BANNER */
    .carousel-item { height: 40vh; }
    /* BANNER - text */
    .carousel-item h1 {
        font-size: 20pt;
        line-height: 6vh;
    }
    /* BANNER > CAROUSEL 1 - field */
    .carousel-1 input {
        width: 35vw;
        font-size: 12pt;
    }
    /* BANNER > CARPUSEL 2 - button */
    .carousel-1 button { font-size: 12pt; }
    /* BANNER > CAROUSEL 2 - text */
    .carousel-2 h1 { padding: 0 12vw; }
    
    /* Image cards width */
    .inews-lg-w { width: 17.5vw; } /* news_1 -> news_6, news_8 -> news_12, news_14 */
    .inews-lg-w2 { width: 36vw; } /* news_7, news_13, news_15, news_16 */
    /* .inews-lg-h { height: 10.5vw; } */

    /* ========================== NEWS page ========================== */

    /* HEADLINE */
    .headline > h1 { font-size: 20pt; }

    /* NEWS TEXT - paragraph */
    .news-text > p { font-size: 12pt; }

    /* RELATED NEWS - headline */
    aside > h4 { font-size: 15pt; }

    .rnews-w { width: 25vw; }
    .rnews-h { height: 15vw; }

    /* ========================== REGISTER page ========================== */

    /* RIGHT SIDE */
    #regRight { width: 100%; }
    /* RIGHT SIDE - register screen */
    #create_acc { width: 45vw; }
    /* RIGHT SIDE - login screen */
    #login { width: 30vw; }
}

/* For Extra Large devices (>= 1200px) size screens */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* HEADER - logo */
    .navbar-brand { font-size: 18pt; }
    /* HEADER - search field */
    #searchLarge { width: 30vw; }
    #searchLarge input,
    /* HEADER - language options, login button */
    .nav-item > * { font-size: 10pt; }
    /* HEADER - search icon */
    .fa-magnifying-glass { font-size: 12pt; }

    /* HEADER - user menu button */
    .btn-user-menu > img {
        width: 19pt;
        padding: 5px 4px;
    }

    /* USER MENU - user white icon */
    .user-icon-white > img {
        width: 65pt;
        margin: 30px 45px;
    }
    /* USER MENU - edit profile button */
    .fa-pen-to-square {
        font-size: 13pt;
        margin: 5px 0;
    }
    /* USER MENU - menu options */
    #userMenu nav,
    #userMenu span { font-size: 13pt; }
    /* USER MENU - log out icon */
    .fa-arrow-right-from-bracket { font-size: 14pt; }

    /* EDIT PROFILE - user black icon */
    .user-icon-black > img {
        width: 50pt;
        margin: 30px 40px;
    }

    /* News cards */
    .news { width: 90vw; }
    .card { margin-bottom: 3vw; }
    .card img { height: 20vh; }
    .card-title { font-size: 13pt; }
    .card-footer { font-size: 9pt; }

    /* ========================== INDEX page ========================== */

    /* BANNER */
    .carousel-item { height: 40vh; }
    /* BANNER - text */
    .carousel-item h1 {
        font-size: 30pt;
        line-height: 8vh;
    }
    /* BANNER > CAROUSEL 1 - email field */
    .carousel-1 input {
        width: 35vw;
        font-size: 12pt;
    }
    /* BANNER > CAROUSEL 1 - send email button */
    .carousel-1 button {
        font-size: 12pt;
        margin-bottom: 2vw;
    }
    /* BANNER > CAROUSEL 2 - text */
    .carousel-2 h1 { padding: 0 15vw; }

    /* Image cards width */
    .inews-lg-w { width: 17.5vw; } /* news_1 -> news_6, news_8 -> news_12, news_14 */
    .inews-lg-w2 { width: 36vw; } /* news_7, news_13, news_15, news_16 */
    /* .inews-lg-h { height: 10.5vw; } */

    /* ========================== NEWS page ========================== */

    /* HEADLINE */
    .headline > h1 { font-size: 24pt; }

    /* NEWS TEXT - paragraph */
    .news-text > p { font-size: 13pt; }

    /* RELATED NEWS - headlines */
    aside > h4 { font-size: 16pt; }

    .rnews-w { width: 25vw; }
    .rnews-h { height: 15vw; }

    /* ========================== REGISTER page ========================== */

    /* LEFT SIDE */
    #regLeft { width: 60%; }
    /* LEFT SIDE - text */
    #regLeft h5 { font-size: 12pt; }

    /* RIGHT SIDE */
    #regRight { width: 40%; }
    /* RIGHT SIDE - register screen */
    #create_acc { width: 32vw; }
    /* RIGHT SIDE - login screen */
    #login { width: 25vw; }
    /* RIGHT SIDE - form, fields, button */
    #regRight > form,
    #regRight input,
    #regRight .btn { font-size: 10pt; }
}

/* For Extra Extra Large devices (>= 1400px) size screens */
@media (min-width: 1400px) {
    /* HEADER - logo */
    .navbar-brand { font-size: 20pt; }
    /* HEADER > SEARCH FIELD - search field */
    #searchLarge { width: 30vw; }
    /* HEADER > SEARCH FIELD - search icon */
    .fa-magnifying-glass { font-size: 14pt; }

    /* HEADER - user menu button */
    .btn-user-menu > img {
        width: 22pt;
        padding: 5px 4px;
    }

    /* USER MENU - user white icon */
    .user-icon-white > img {
        width: 75pt;
        margin: 35px 50px;
    }
    /* USER MENU - edit profile button */
    .fa-pen-to-square {
        font-size: 14pt;
        margin: 5px 0;
    }
    /* USER MENU - menu options */
    #userMenu nav,
    #userMenu span { font-size: 14pt; }
    /* USER MENU - log out icon */
    .fa-arrow-right-from-bracket { font-size: 16pt; }

    /* EDIT PROFILE - user black icon */
    .user-icon-black > img {
        width: 60pt;
        margin: 30px 42px;
    }

    /* News cards */
    .news { width: 90vw; }
    .card { margin-bottom: 3vw; }
    .card img { height: 23vh; }

    /* ========================== INDEX page ========================== */

    /* BANNER */
    .carousel-item { height: 40vh; }
    .carousel-item h1 {
        font-size: 35pt;
        line-height: 8vh;
    }
    /* BANNER > CAROUSEL 1 - input */
    .carousel-1 input {
        width: 35vw;
        font-size: 16pt;
    }
    /* BANNER > CAROUSEL 1 - button */
    .carousel-1 button { font-size: 16pt; }
    /* BANNER > CAROUSEL 2 - text */
    .carousel-2 h1 { padding: 0 15vw; }

    /* Image cards width */
    .inews-lg-w { width: 17.5vw; } /* news_1 -> news_6, news_8 -> news_12, news_14 */
    .inews-lg-w2 { width: 36vw; } /* news_7, news_13, news_15, news_16 */
    /* .inews-lg-h { height: 10.5vw; } */

    /* ========================== NEWS page ========================== */
    
    /* NEWS TEXT - paragraph */
    .news-text > p { font-size: 14pt; }

    /* RELATED NEWS */
    .rnews-w { width: 25vw; }
    .rnews-h { height: 15vw; }

    /* ========================== REGISTER page ========================== */

    /* LEFT SIDE */
    #regLeft { width: 65%; }
    /* LEST SIDE - text */
    #regLeft h5 { font-size: 14pt; }

    /* RIGHT SIDE */
    #regRight { width: 35%; }
}