/* =========================== MEDIA QUERIES =========================== */

/* For Extra Small (portrait phones, less than 576px) devices */
@media (max-width: 575.98px) {
    /* Header */
    .navbar-brand { font-size: 14pt; }

    #searchLarge { display: none; }
    #searchSmall {
        margin: 3vw auto;
        width: 85vw;
    }

    .fa-magnifying-glass { font-size: 13pt; }

    .navbar-nav {
        flex-direction: row;
        justify-content: space-around;
    }

    li > #btnUserMenu { font-size: 18pt; }

    /* User menu */
    #userPhoto .fa-user, #editProfile .fa-user {
        font-size: 65pt;
        padding: 3.8vw 6vw;
    }
    #userPhoto .fa-pen-to-square {
        font-size: 13.5pt;
        padding: 1vw .2vw;
    }
    #userPhoto > h5 { font-size: 14pt; }

    .offcanvas-body i { font-size: 16pt; }
    .offcanvas-body nav, .offcanvas-body span { font-size: 13pt; }

    /* News cards */
    .news { margin-top: 6vw; }
    .card {
        width: 90vw;
        margin: 0 auto 6vw auto;
    }
    .news-img { height: 28vh; }
    .card-title { font-size: 14pt; }
    .card-footer { font-size: 9pt; }

    /* ========================== INDEX page ========================== */

    /* Banner */
    #banner { display: none; }

    /* ========================== NEWS page ========================== */

    #newsHeadline > h1 { font-size: 18pt; }

    /* ========================== REGISTER page ========================== */

    /* Left side (image) */
    #regLeft { display: none; }

    /* Right side (register/login screen) */
    #regRight { width: 100%; }
    #create_acc { width: 85vw; }
    #login { width: 70vw; }
    #regRight > form, #regRight input, #regRight .btn { font-size: 10pt; }
}

/* For Small (landscape phones, less than 768px) devices */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Header */
    .navbar-nav { padding: 0 12vw; }
    .navbar-brand { font-size: 18pt; }

    #searchLarge {
        width: 80vw;
        margin: 0 auto;
    }

    .fa-magnifying-glass { font-size: 13pt; }

    #btnUserMenu { font-size: 18pt; }

    /* User menu */
    #userPhoto .fa-user, #editProfile .fa-user {
        font-size: 65pt;
        padding: 3vw 4.5vw;
    }
    #userPhoto .fa-pen-to-square {
        font-size: 13.5pt;
        padding: 1vw .2vw;
    }
    #userPhoto h5 { font-size: 13pt; }

    .offcanvas-body i { font-size: 16pt; }
    .offcanvas-body nav, .offcanvas-body span { font-size: 13pt; }

    /* News cards */
    .news { margin-top: 4vw; }
    .card {
        width: 90vw;
        margin: 0 auto 6vw auto;
    }
    .news-img { height: 45vh; }
    .card-title { font-size: 14pt; }
    .card-footer { font-size: 9.5pt; }

    /* ========================== REGISTER page ========================== */

    /* Right side (image) */
    #regRight { width: 100%; }
    #create_acc { width: 60vw; }
    #login { width: 40vw; }
    #regRight > form, #regRight input, #regRight .btn { font-size: 10.5pt; }
}

/* For Medium (tablets, less than 992px) devices */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Header */
    .navbar-brand { font-size: 14pt; }

    #searchLarge { width: 40vw; }
    #searchLarge input { font-size: 9.5pt; }

    .nav-item > * { font-size: 9pt; }

    .fa-magnifying-glass { font-size: 11pt; }

    #btnUserMenu { font-size: 13pt; }

    /* User menu */
    #userPhoto .fa-user, #editProfile .fa-user {
        font-size: 65pt;
        padding: 2vw 2.9vw;
    }
    #userPhoto .fa-pen-to-square {
        font-size: 13pt;
        padding: .50vw .1vw;
    }
    #userPhoto h5 { font-size: 13pt; }

    .offcanvas-body i { font-size: 12pt; }
    .offcanvas-body nav, .offcanvas-body span { font-size: 10pt; }

    /* News cards */
    .news { width: 90vw; }
    .card { margin-bottom: 4vw; }
    .card-title { font-size: 14pt; }
    .card-footer { font-size: 10pt; }

    /* ========================== INDEX page ========================== */

    /* Banner */
    .carousel-item { height: 35vh; }
    .carousel-item h1 {
        font-size: 20pt;
        line-height: 6vh;
    }
    #carousel_1 input {
        width: 35vw;
        font-size: 10pt;
    }
    #carousel_1 button { font-size: 12pt; }

    #carousel_2 h1 { padding: 0 15vw; }

    /* Image cards width */
    .inews-md-w { width: 45.5vw; }
    .inews-md-h { height: 23vw; }

    /* ========================== MEWS page ========================== */

    .rnews-w { width: 80vw; }
    .rnews-h { height: 45vw; }
    
    /* ========================== REGISTER page ========================== */

    /* Right side (image) */
    #regRight { width: 100%; }
    #create_acc { width: 55vw; }
    #login { width: 35vw; }
    #regRight > form, #regRight input, #regRight .btn { font-size: 11pt; }
}

/* For Large (desktops, less than 1200px) devices */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Header */
    .navbar-brand { font-size: 18pt; }

    #searchLarge { width: 35vw; }
    #searchLarge > input,

    .nav-item > * { font-size: 10pt; }

    .fa-magnifying-glass { font-size: 12pt; }

    #btnUserMenu { font-size: 14.5pt; }

    /* User menu */
    #userPhoto .fa-user, #editProfile .fa-user {
        font-size: 65pt;
        padding: 1.9vw 2.5vw;
    }
    #userPhoto .fa-pen-to-square {
        font-size: 13pt;
        padding: .30vw .01vw;
    }
    #userPhoto h5 { font-size: 14pt; }

    .offcanvas-body i { font-size: 12pt; }
    .offcanvas-body nav, .offcanvas-body span { font-size: 10pt; }

    /* News cards */
    .news { width: 90vw; }
    .card { margin-bottom: 3vw; }
    .card-title { font-size: 11pt; }
    .card-footer { font-size: 8.5pt; }

    /* ========================== INDEX page ========================== */

    /* Banner */
    .carousel-item { height: 40vh; }
    .carousel-item h1 {
        font-size: 20pt;
        line-height: 6vh;
    }
    #carousel_1 input {
        width: 35vw;
        font-size: 12pt;
    }
    #carousel_1 button { font-size: 12pt; }
    #carousel_2 h1 { padding: 0 12vw; }
    
    /* Image cards width */
    .inews-lg-w { width: 17.5vw; } /* news_1 -> news_6, news_8 -> news_12, news_14 */
    .inews-lg-w2 { width: 36vw; } /* news_7, news_13, news_15, news_16 */
    .inews-lg-h { height: 10.5vw; }

    /* ========================== NEWS page ========================== */

    /* Headline */
    #newsHeadline > h1 { font-size: 20pt; }

    /* Text of the news */
    #newsText > p { font-size: 12pt; }

    /* Related News */
    aside > h4 { font-size: 15pt; }

    .rnews-w { width: 25vw; }
    .rnews-h { height: 15vw; }

    /* ========================== REGISTER page ========================== */

    /* Right side (image) */
    #regRight { width: 100%; }
    #create_acc { width: 45vw; }
    #login { width: 30vw; }
}

/* For Extra Large devices (>= 1200px) size screens */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* Header */
    .navbar-brand { font-size: 18pt; }

    #searchLarge { width: 30vw; }
    #searchLarge input,

    .nav-item > * { font-size: 10pt; }

    .fa-magnifying-glass { font-size: 12pt; }

    #btnUserMenu { font-size: 14pt; }

    /* User menu */
    #userPhoto .fa-user, #editProfile .fa-user {
        font-size: 65pt;
        padding: 1.9vw 2.5vw;
    }
    #userPhoto .fa-pen-to-square {
        font-size: 13.5pt;
        padding: .42vw .1vw;
    }
    #userPhoto h5 { font-size: 16pt; }

    .offcanvas-body i { font-size: 14pt; }
    .offcanvas-body nav, .offcanvas-body span { font-size: 12pt; }

    /* News cards */
    .news { width: 90vw; }
    .card { margin-bottom: 3vw; }
    .card-title { font-size: 13pt; }
    .card-footer { font-size: 9pt; }

    /* ========================== INDEX page ========================== */

    /* Banner */
    .carousel-item { height: 40vh; }
    .carousel-item h1 {
        font-size: 30pt;
        line-height: 8vh;
    }
    #carousel_1 input {
        width: 35vw;
        font-size: 12pt;
    }
    #carousel_1 button {
        font-size: 12pt;
        margin-bottom: 2vw;
    }
    #carousel_2 h1 { padding: 0 15vw; }

    /* Image cards width */
    .inews-lg-w { width: 17.5vw; } /* news_1 -> news_6, news_8 -> news_12, news_14 */
    .inews-lg-w2 { width: 36vw; } /* news_7, news_13, news_15, news_16 */
    .inews-lg-h { height: 10.5vw; }

    /* ========================== NEWS page ========================== */

    /* Headline */
    #newsHeadline > h1 { font-size: 24pt; }

    /* Text of the news */
    #newsText > p { font-size: 13pt; }

    /* Related News */
    aside > h4 { font-size: 16pt; }

    .rnews-w { width: 25vw; }
    .rnews-h { height: 15vw; }

    /* ========================== REGISTER page ========================== */

    /* Left side (image) */
    #regLeft { width: 60%; }
    #regLeft h5 { font-size: 12pt; }

    /* Right side (register/login screen) */
    #regRight { width: 40%; }
    #create_acc { width: 32vw; }
    #login { width: 25vw; }
    #regRight > form, #regRight input, #regRight .btn { font-size: 10pt; }
}

/* For Extra Extra Large devices (>= 1400px) size screens */
@media (min-width: 1400px) {
    /* Header */
    .navbar-brand { font-size: 20pt; }

    #searchLarge { width: 30vw; }

    .fa-magnifying-glass { font-size: 14pt; }

    #btnUserMenu { font-size: 16pt; }

    /* User menu */
    #userPhoto .fa-user, #editProfile .fa-user {
        font-size: 80pt;
        padding: 1.2vw 1.8vw;
    }
    #userPhoto .fa-pen-to-square {
        font-size: 14pt;
        padding: .35vw .1vw;
    }
    .offcanvas-body nav, .offcanvas-body span { font-size: 14pt; }
    .offcanvas-body nav i { font-size: 16pt; }

    /* News cards */
    .news { width: 90vw; }
    .card { margin-bottom: 3vw;}

    /* ========================== INDEX page ========================== */

    /* Banner */
    .carousel-item { height: 40vh; }
    .carousel-item h1 {
        font-size: 35pt;
        line-height: 8vh;
    }
    #carousel_1 input {
        width: 35vw;
        font-size: 16pt;
    }
    #carousel_1 button { font-size: 16pt; }
    #carousel_2 h1 { padding: 0 15vw; }

    /* Image cards width */
    .inews-lg-w { width: 17.5vw; } /* news_1 -> news_6, news_8 -> news_12, news_14 */
    .inews-lg-w2 { width: 36vw; } /* news_7, news_13, news_15, news_16 */
    .inews-lg-h { height: 10.5vw; }

    /* ========================== NEWS page ========================== */
    
    /* Text of the news */
    #newsText > p { font-size: 14pt; }

    /* Related News */
    .rnews-w { width: 25vw; }
    .rnews-h { height: 15vw; }

    /* ========================== REGISTER page ========================== */

    /* Left side (image) */
    #regLeft { width: 65%; }
    #regLeft h5 { font-size: 14pt; }

    /* Right side (register/login screen) */
    #regRight { width: 35%; }
}