/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Navigation bar */
nav {background-color: #fb7d6f;}

.navbar-brand {font-family: 'Newsreader', serif;}

/* Search bar */
input[type='search'] {background-color: #df6e62;}

input[type='search']::placeholder {
    color: whitesmoke;
    font-weight: bold;
}

input[type='search']:focus {
    background-color: #df6e62;
    box-shadow: 0 0 0 4px #adcce685;
    border-color: whitesmoke;
}

input[type='search']:hover {box-shadow: 0 0 0 4px #adcce685;}

/* header li */
li .form-select {cursor: pointer;}

/* Responsive button */
.navbar-toggler {background-color: #fc4450;}

#secBanner {background-color: #f6ecc8;}

/* Big text in index page */
#secBanner h1 {font-family: 'Roboto', sans-serif;}

/* email field in index */
#secBanner input[type='email'] {border-color: lightgray;}

#secBanner input[type='email']:hover, #secBanner input[type='email']:focus {box-shadow: 0 0 0 4px #adcce685;}

/* NEW PAGE */
/* Main content */
#newsText {
    box-shadow: 0 5px 15px 4px #00000059;
    width: 80vw;
}

/* Article */
article {padding: 0 0 0 1.5vw;}

/* Aside content */
aside {padding: 0 1.5vw 0 0;}

aside .row {
    margin: 0 0 1.3vw 0;
    padding: .5vw 0 .4vw .6vw;
    border-radius: .5vw;
    box-shadow: 0 5px 10px #0000002f;
    transition: all .3s;
}

aside .row:hover {box-shadow: 0 5px 15px #0000004f;}

aside a p {
    font-size: .65vw;
    color: black;
}

/* For Extra Small (portrait phones, less than 576px) devices */
@media (max-width: 575.98px) {
    #searchLarge {display: none;}

    #searchSmall {
        margin: 3vw auto;
        width: 85vw;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 12vw;
    }

    #secBanner {padding: 4vw 0;}

    h1 {line-height: 8vw;}

    #secBanner input {width: 80vw;}

    #secBanner button {margin-top: 4vw;}
}

/* For Small (landscape phones, less than 768px) devices */
@media (min-width: 576px) and (max-width: 767.98px) {
    #searchSmall {display: none;}
    
    #searchLarge {
        width: 80vw;
        margin: 0 auto;
    }

    .navbar-nav {padding: 0 12vw;}

    #secBanner input {width: 60vw;}
}

/* For Medium (tablets, less than 992px) devices */
@media (min-width: 768px) and (max-width: 991.98px) {
    #searchLarge {width: 40vw;}

    #secBanner input {width: 50vw;}
}

/* For Large (desktops, less than 1200px) devices */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #searchLarge {width: 35vw;}

    #secBanner input {width: 50vw;}
}

/* For Extra Large devices (>= 1200px) size screens */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    #searchLarge {width: 30vw;}

    #secBanner h1 {
        font-size: 2.5vw;
        line-height: 3.5vw;
    }

    #secBanner input {
        width: 35vw;
        font-size: 1.2vw;
    }

    #secBanner button {font-size: 1.12vw;}
}

/* For Extra Extra Large devices (>= 1400px) size screens */
@media (min-width: 1400px) {
    #searchLarge {width: 30vw;}

    #secBanner h1 {
        font-size: 2.5vw;
        line-height: 3.5vw;
    }

    #secBanner input {
        width: 35vw;
        font-size: 1vw;
    }

    #secBanner button {
        font-size: 1.12vw;
    }
}