li a {padding-bottom: 0;}

li a:hover {border-bottom: 1px solid white;}

.active {
    border-bottom: 2px solid white;
    cursor: auto;
}

.active:hover {border-width: 2px;}

h1 {
    font-size: 2.5vw;
    width: 35vw;
}

input[type='email'] {
    font-size: 1.2vw;
    padding: .5vw 0;
    width: 25vw;
}

#form-btn {
    font-size: 1.2vw;
    padding: .4vw 2.8vw;
}

main .row {margin: 4vw 0;}

main .card {padding: .5vw;}

.card a {text-decoration: none;}

.card a:hover {text-decoration: underline;}

.col-6 {width: 760px;}

.col-middle {margin: 0 auto;}