/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --red1: #7a1e38;
    --red2: #6b132c;
    --red3: #842440;
    --white1: #ffffff63;
    --white2: #ffffff8e;
    --black: #2e2e2e; 
}

body { background: whitesmoke; }
#regBody { background: #f6ecc8; }

/* HEADER - navbar */
.navbar { background: var(--red3); }
.navbar-brand { font-family: 'Newsreader', sans-serif; }

/* HEADER - search field */
input[type='search'] {
    background: var(--red2);
    border-color: var(--white1);
}
input[type='search']::placeholder {
    color: whitesmoke;
    font-weight: bold;
}
input[type='search']:focus {
    background: #18080c52;
    box-shadow: none;
    border-color: var(--white2);
}

/* HEADER - search button */
header .input-group button {
    background: #af2f53;
    border-color: var(--white1);
}
header .input-group button:hover {
    background: #a12a4c;
    border-color: var(--white2);
}

/* header li */
header li .form-select {
    cursor: pointer;
    border-color: var(--white1);
    background: var(--red1);
    transition: all .3s;
}
header li .form-select:hover {
    background: var(--red2);
    border-color: var(--white2);
}
header li option { background: whitesmoke; }

/* Login button */
header li .btn {
    background: var(--red1);
    border: 1px solid var(--white1);
    color: whitesmoke;
}
header li .btn:hover {
    background: var(--red2);
    border-color: var(--white2);
    color: whitesmoke
}

/* User menu button */
#btnUserMenu {
    background: #a02347;
    border: 1px solid #d8d8d877;
    transition: all .3s;
}
#btnUserMenu:hover { background: var(--red1); }

/* User Menu */
#userMenu { background: #5c1529; }
#userPhoto button {
    background: #b83056;
    border: 1px solid var(--white2);
    top: 80%; right: 32%;
    transition: .3s;
}
#userPhoto button:hover { background: var(--red1); }
#userMenu nav a:hover { background: #18080c52; }
.user-icon-white {
    background: var(--red3);
    border: 1px solid var(--white1);
}

/* Edit user data screen */
.user-icon-black {
    background: whitesmoke;
    border: 1px solid var(--black);
}

/* Responsive button */
.navbar-toggler { background: var(--red2); }

/* ============================ INDEX page ============================ */

/* Banner */
#banner {
    border-bottom: 5px solid var(--red3);
    background: #fb7d6f;
}
#carousel_1 { background: url('https://picsum.photos/1920/400?random=1'); }
#carousel_2 { background: url('https://picsum.photos/1920/400?random=2'); }
#carousel_3 { background: url('https://picsum.photos/1920/400?random=3'); }
/* Big text in index page */
.carousel h1 {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    text-shadow: 0px 0px 10px black;
}
/* email field in index */
.carousel input[type='email'] { border-color: lightgray; }
.carousel input[type='email']:hover,
.carousel input[type='email']:focus { box-shadow: 0 0 0 4px #adcce685; }
/* Email button */
.carousel .btn {
    box-shadow: 0px 0px 10px 0px black;
    background-color: var(--red3);
    transition: .3s;
}
.carousel .btn:hover { background: var(--red1); }

.carousel button span,
.carousel-indicators [data-bs-target] { background-color: var(--red3); }

/* News */
.news { margin: 0 auto; }
.card {
    background: transparent;
    border: none;
    padding: 0;
}
.card a { color: var(--black); }
.card .news-img { border-radius: 8px; }
.card-body { padding-bottom: 0; }
.card .card-footer {
    background: transparent;
    border: none;
}

#news_1 .news-img { background: url('https://picsum.photos/1?random=1'); }
#news_2 .news-img { background: url('https://picsum.photos/1?random=2'); }
#news_3 .news-img { background: url('https://picsum.photos/1?random=3'); }
#news_4 .news-img { background: url('https://picsum.photos/1?random=4'); }
#news_5 .news-img { background: url('https://picsum.photos/1?random=5'); }
#news_6 .news-img { background: url('https://picsum.photos/1?random=6'); }
#news_7 .news-img { background: url('https://picsum.photos/1?random=7'); }
#news_8 .news-img { background: url('https://picsum.photos/1?random=8'); }
#news_9 .news-img { background: url('https://picsum.photos/1?random=9'); }
#news_10 .news-img { background: url('https://picsum.photos/1?random=10'); }
#news_11 .news-img { background: url('https://picsum.photos/1?random=11'); }
#news_12 .news-img { background: url('https://picsum.photos/1?random=12'); }
#news_13 .news-img { background: url('https://picsum.photos/1?random=13'); }
#news_14 .news-img { background: url('https://picsum.photos/1?random=14'); }
#news_15 .news-img { background: url('https://picsum.photos/1?random=15'); }
#news_16 .news-img { background: url('https://picsum.photos/1?random=16'); }

/* =========================== NEWS page =========================== */
#newsHeadline {
    font-family: 'Lora', serif;
    color: var(--black);
}

#newsText {
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
    letter-spacing: .2px;
}

/* Related news */
#relNews_1 .news-img { background: url('https://picsum.photos/1?random=1'); }
#relNews_2 .news-img { background: url('https://picsum.photos/1?random=2'); }
#relNews_3 .news-img { background: url('https://picsum.photos/1?random=3'); }
#relNews_4 .news-img { background: url('https://picsum.photos/1?random=4'); }

/* =========================== REGISTER page =========================== */

#regLeft { background: #fc4450; }
#regLeft h5 {
    text-align: justify;
    text-align-last: center;
}

#create_acc { width: 25vw; }
#login {
    width: 20vw;
    display: none;
}

.yellow-shadow:hover, .yellow-shadow:focus {
    border-color: #eed57c;
    box-shadow: 0px 0px 0px 0.25rem #ddc26240;
}

footer {
    background: #ad1c45;
    font-size: 20pt;
}